discord.py
rewavelink[speed]
asyncpraw
asyncprawcore
httpx
aiohttp
dnspython
pymongo
fake-useragent
beautifulsoup4
deep_translator
unidecode
matplotlib
mplcyberpunk
tzdata
psutil
python-dotenv
PyNaCl
cloudscraper
davey
lxml